<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:48d8Z6eDkaWStLYWJkgV/u334+6e987483726189564="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="DEFAULT_CURRENCY" value="NGN"/>
        <env name="AIRWALLEX_ENABLED" value="true"/>
        <env name="AIRWALLEX_ENV" value="sandbox"/>
        <env name="AIRWALLEX_CLIENT_ID" value="test_awx_client_id"/>
        <env name="AIRWALLEX_API_KEY" value="test_awx_api_key"/>
        <env name="AIRWALLEX_WEBHOOK_SECRET" value="test_awx_webhook_secret"/>
        <env name="PAYSTACK_ENABLED" value="true"/>
        <env name="PAYSTACK_ENV" value="test"/>
        <env name="PAYSTACK_PUBLIC_KEY" value="pk_test_sample"/>
        <env name="PAYSTACK_SECRET_KEY" value="sk_test_sample"/>
        <env name="FLUTTERWAVE_ENABLED" value="true"/>
        <env name="FLUTTERWAVE_ENV" value="sandbox"/>
        <env name="FLUTTERWAVE_PUBLIC_KEY" value="FLWPUBK_TEST-sample"/>
        <env name="FLUTTERWAVE_SECRET_KEY" value="FLWSECK_TEST-sample"/>
        <env name="FLUTTERWAVE_ENCRYPTION_KEY" value="FLWSECK_TEST_enc"/>
        <env name="FLUTTERWAVE_WEBHOOK_SECRET_HASH" value="flw_sample_hash"/>
        <env name="PAYMENT_WEBHOOK_TOLERANCE" value="300"/>
        <env name="PAYMENT_WEBHOOK_QUEUE" value="sync"/>
    </php>
</phpunit>
